* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.navbar ul {
  list-style: none;
  display: flex;
  position: relative;
  right: 25%;
}

.navbar ul li {
  padding: 10px 30px;
  position: relative;
}

.navbar ul li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;

  transition: all 0.3s;
}

.navbar ul li a:hover {
  color: #000;
  font-weight: bolder;
  text-decoration: underline;
}

.dropdown-menu {
  display: none;
}
.navbar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: -80%;
  top: 100%;
}

.dropdown-menu ul {
  /* display: block; */
}

.dropdown-menu ul li {
  /* margin-left: 40px;
  margin-right: 40px; */
  width: 200px;
}
